<div class="container">
  <h1 class="text-center mt-5">Iscriviti</h1>
  <form [formGroup]="subscribeForm" (ngSubmit)="onRegister()">
    <div class="mb-3">
      <label for="inputName" class="form-label">Nome: </label>
      <input
        type="text"
        name="name"
        class="form-control"
        id="inputName"
        formControlName="name"
      />
    </div>
    <div class="mb-3">
      <label for="inputSurname" class="form-label">Cognome</label>
      <input
        type="text"
        name="surname"
        class="form-control"
        id="inputSurname"
        formControlName="surname"
      />
    </div>
    <div class="mb-3">
      <label for="inputEmail" class="form-label">Email</label>
      <input
        type="email"
        name="email"
        class="form-control"
        id="inputEmail"
        formControlName="email"
      />
    </div>
    <div class="mb-3">
      <label for="inputPassword" class="form-label">Password</label>
      <input
        (input)="confirmPasswordCorrected()"
        type="password"
        name="password"
        class="form-control"
        id="inputPassword"
        formControlName="password"
      />
    </div>
    <div>
      <label for="inputConfirmPassword" class="form-label"
        >Conferma password</label
      >
      <input
        (input)="confirmPasswordCorrected()"
        type="password"
        name="confirmPassword"
        class="form-control"
        id="inputConfirmPassword"
        formControlName="confirmPassword"
      />
    </div>
    <p
      class="text-danger"
      *ngIf="
        !confirmPass$.getValue() &&
        subscribeForm.controls['confirmPassword'].touched
      "
    >
      La conferma non corrisponde alla password inserita
    </p>
    <div class="mt-3 mb-3 form-check">
      <input
        type="checkbox"
        name="checkbox"
        class="form-check-input"
        id="exampleCheck1"
        formControlName="acceptTerms"
      />
      <label class="form-check-label" for="exampleCheck1"
        >Dichiaro di aver letto e accettato i termini per la privacy</label
      >
    </div>
    <button
      type="submit"
      class="btn btn-danger"
      [disabled]="!subscribeForm.valid"
    >
      Conferma
    </button>
  </form>
</div>
